# Conda Requirements to recreate experiments
torch == 2.5.1
transformers == 4.56.2
accelerate == 1.10.1
datasets == 3.1.0
trl == 0.12.1
peft == 0.13.2
bitsandbytes == 0.45.3
sentence-transformers == 3.3.1
tensorboard == 2.18.0
scipy == 1.18.0
omegaconf == 2.3.1
evaluate == 0.4.6
bert-score == 0.3.13
